<div class="relative w-[70%]">
    <input
      type="text"
      [formControl]="searchControl"
      placeholder="Digite algo..."
      autocomplete="off"
      class="w-full p-2 rounded-lg border border-gray-300 text-white outline-none bg-color4"
    />
  
    @if (showSuggestions) {
      <ul class="absolute z-10 bg-white text-black w-full mt-1 rounded-md shadow-lg max-h-40 overflow-auto">
        @for (suggestion of suggestions; track suggestion) {
          <li
            (click)="chooseSuggestion(suggestion)"
            class="p-2 hover:bg-gray-200 cursor-pointer"
          >
            {{ suggestion }}
          </li>
        }
      </ul>
    }
  </div>