<div class="flex-1 bg-white rounded-2xl shadow-lg p-4 space-y-6">
  <h3 class="text-2xl font-semibold text-color4">Envie uma mensagem</h3>

  <form [formGroup]="contactForm" (ngSubmit)="enviarFormulario()" class="space-y-4">

    <div *ngFor="let field of formFields">
      <label [ngClass]="getLabelClass(field)" [for]="field">
        {{ getErrorMessage(field) || fieldLabels[field] }}
      </label>

      <ng-container [ngSwitch]="field">
        <input *ngSwitchCase="'name'"
          id="nome"
          type="text"
          [formControlName]="field"
          placeholder="Digite seu nome"
          class="placeholder:text-gray-400 w-full mt-1 px-4 py-2 border rounded-md focus:ring-2 focus:ring-color4 focus:outline-none" />

        <input *ngSwitchCase="'email'"
          id="email"
          type="email"
          [formControlName]="field"
          placeholder="Digite seu e-mail"
          class="placeholder:text-gray-400 w-full mt-1 px-4 py-2 border rounded-md focus:ring-2 focus:ring-color4 focus:outline-none" />

        <input *ngSwitchCase="'telephone'"
          id="telephone"
          type="tel"
          maxlength="11"
          minlength="8"
          [formControlName]="field"
          placeholder="(00) 90000-0000"
          class="placeholder:text-gray-400 w-full mt-1 px-4 py-2 border rounded-md focus:ring-2 focus:ring-color4 focus:outline-none" />

        <textarea *ngSwitchCase="'message'"
          id="message"
          rows="4"
          [formControlName]="field"
          placeholder="Digite sua mensagem"
          class="placeholder:text-gray-400 w-full mt-1 px-4 py-2 border rounded-md focus:ring-2 focus:ring-color4 focus:outline-none"></textarea>
      </ng-container>
    </div>

    <button
      type="submit"
      [disabled]="contactForm.invalid"
      class="cursor-pointer w-full bg-color2 text-white py-2 px-4 rounded-full disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed hover:bg-color1 transition-all font-semibold">
      Enviar
    </button>

  </form>
</div>
