<div class="flex flex-row justify-center gap-12 not-md:gap-4 p-4">
  @for (item of options; track $index) {
    <div 
      class="w-40 not-md:w-30 bg-white rounded-xl shadow-md overflow-hidden transition-transform duration-300 hover:scale-105 hover:shadow-xl"
    >
      <div class="flex justify-center pt-4">
        <img [src]="item.img" alt="{{item.name}}" class="w-24 h-24 object-cover transition-transform duration-300 group-hover:scale-110 text-color4">
      </div>
      <div class="p-2">
        <p class="text-2xl font-medium text-center text-color1 truncate font-[Playfair_Display]">{{item.name}}</p>
      </div>
    </div>
  }
</div>
